.middle9{
	float: left;
	/*margin-top: 20px;*/
	height: 3250px;
	width: 100%;
	background-color: #f0f3ef;
}
.middle9-1{
	height: 100px;
	width: 80%;
	/*background-color: pink;*/
}
.middle9-1 h2{
	/*text-align: center;*/
	font-size: 32px;
	font-weight: normal;
	float: left;
	margin-left: 51.5%;
	margin-top: 30px;
}
.middle9-2{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: red;*/
}
.middle9-2 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}
.middle9-3{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: yellow;*/
	margin-top: 10px;
}
.middle9-3 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}
.middle9-4{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: yellow;*/
	margin-top: 10px;
}
.middle9-4 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}
.middle9-5{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: yellow;*/
	margin-top: 10px;
}
.middle9-5 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}
.middle9-6{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: yellow;*/
	margin-top: 10px;
}
.middle9-6 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}
.middle9-7{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: yellow;*/
	margin-top: 10px;
}
.middle9-7 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}
.middle9-8{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: yellow;*/
	margin-top: 10px;
}
.middle9-8 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}
.middle9-9{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: yellow;*/
	margin-top: 10px;
}
.middle9-9 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}
.middle9-10{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: yellow;*/
	margin-top: 10px;
}
.middle9-10 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}
.middle9-11{
	height: 305px;
	width: 80%;
	margin: 0 auto;
	/*background-color: yellow;*/
	margin-top: 10px;
}
.middle9-11 img{
	float: left;
	margin: 0 auto;
	margin-left: 0.5%;
}