.middle7{
	float: left;
	/*margin-top: 20px;*/
	height: 440px;
	width: 100%;
	background-color: #f0f3ef;
}
.middle7-1{
	height: 100px;
	width: 80%;
	/*background-color: pink;*/
}
.middle7-1 h2{
	/*text-align: center;*/
	font-size: 32px;
	font-weight: normal;
	float: left;
	margin-left: 51.5%;
	margin-top: 30px;
}
.middle7-2{
	height: 340px;
	width: 80%;
	margin: 0 auto;
	/*background-color: red;*/
}
.middle7-2 img{
	float: left;
	margin: 0 auto;
	margin-left: 1%;
}
